<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feedback</title>
</head>
<body>
<header>
    {% block header %}
    Feedback
    {% endblock %}
</header>
<main>
    {% block main %}
    {% if messages %}
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor%}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    {% endblock %}
</main>
</body>
</html>